@font-face {
  font-family: 'homer_simpson_revisedregular';
  src: url('./assets/homer_simpson_revised-webfont.woff') format('woff2'),
       url('./assets/homer_simpson_revised-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: 'homer_simpson_revisedregular', Georgia, 'Times New Roman', Times, serif;
}

* {
  margin: 0;
  box-sizing: border-box;
}